{% extends '../base.html' %}
{% load static %}
{% block title %}{{ user.username }} tickets{% endblock %}

{% block content %}
<div id="tickets">
        <div class="container">
            <h1>{{ user.username }} tickets</h1>
            <div class="row mb-5">
                {% for ticket in userTickets %}
                {% if ticket.isActive %}
                <div class="col-md-4 mb-2">
                    <div class="card text-bg-warning mb-3">
                        <div class="card-header">Ticket created by: <strong>{{ user.first_name }}</strong></div>
                        <div class="card-body">
                          <p class="card-text">Date & time: <strong>{{ticket.ticketDate|date:"d.m.Y | h:m" }}</strong></p>
                          <p class="card-text">Department: <strong>{{ ticket.department }}</strong></p>
                        </div>
                        <div class="card-footer">
                            <div class="d-grid">
                                <a href="{{ ticket.get_absolute_url }}" class="btn btn-light">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>

            <h1>Closed tickets</h1>
            <div class="row mb-5">
                {% for ticket in userTickets %}
                {% if not ticket.isActive %}
                <div class="col-md-4 mb-2">
                    <div class="card text-bg-success mb-3">
                        <div class="card-header">Ticket created by: <strong>{{ user.first_name }}</strong></div>
                        <div class="card-body">
                          <p class="card-text">Date & time: <strong>{{ticket.ticketDate|date:"d.m.Y | h:m" }}</strong></p>
                          <p class="card-text">Department: <strong>{{ ticket.department }}</strong></p>
                        </div>
                        <div class="card-footer">
                            <div class="d-grid">
                                <a href="{{ ticket.get_absolute_url }}" class="btn btn-light">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
                 {% endif %}
                {% endfor %}
        </div>
    </div>


{% endblock %}